<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<title>TSR-5</title>

	<link	rel="stylesheet"
			type="text/css"
			charset="utf-8"
			href="{{ url_for('static', filename='style.css') }}"
	>
</head>
<body>

	<form	action="/umbral"
			method="post"
			accept-charset="utf-8"
			id="umbral_form"
	>
		Umbral:
		<input	type="number"
				step="any"
				name="umbral"
				id="umbral"
				value="{{ umbral if umbral else 50.0 }}"
		/>
		<input type="submit" value="send" />
	</form>

	<a id="obtener_media"
		href="/media"
	>
		Obtener la media
	</a>

	<a id="beebotte_dashboard"
		href="https://beebotte.com/dash/6c8ba9d0-e113-11e7-8270-5d5f198d95f3"
	>
		Datos de Beebotte
	</a>

	<hr/>

	{% if media %}
		<div id="media">Media: {{ media () }}</div>
	{% endif %}

	{% if nums %}
		<div id="nums">

			<h2>Números almacenados:</h2>

			{% if umbral %}
				<div class="info" >
					Aplicando el umbral: {{ umbral }}
				</div>
				<a href="/">Eliminar umbral</a>
			{% endif %}

			<br />

			<table>
				<tr>
					<th>Fecha</th>
					<th>Valor</th>
				</tr>
				{% for k in nums %}
					<tr>
						<td>
						{{ formatter (k) }}
						</td>
						<td>{{ nums [k] }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% endif %}

</body>
</html>
