* {
	color: #c0c0c0;
	background-color: #101010;
}

hr {
	width: 70%;
	margin-top: 2rem;
}

#nums
, #umbral_form {
	width: 70%;
	margin: auto;
	padding: 5px;
	text-align: center;
}

#obtener_media {
	display: grid;
	justify-content: center;
}

#media
, #beebotte_dashboard {
	display: grid;
	justify-content: center;
}

#nums table {
	display: grid;
	justify-content: center;
	border-collapse: separate;
	border-spacing: 20px 5px;
}


#umbral_form {
	text-align: center;
}

#umbral_form input {
	text-align: center;
}

.info {
	color: #f04040;
}
